/*remove blue outline around buttons*/
 .btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

button.time-dur-btn {
  width: 70px;
}

.btn-default {
  width: 100px;
}

.btn-group {
  margin: 20px 0px 20px 0px;
}

.col {
  margin-top: 20px;
}

.filter-list {
  background-color: #67809F;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
}

.filter-list-inner {
  height: auto;
  padding-right: 10px;
}

#filter-switches {
  height: 100%;
  background-color: #34495E;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin: 3px 3px 3px 0px;
  border-radius: 3px;
}

#filter-labels {
  margin-right: 0px;
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
}

.filter-option {
  margin-top: 10px;
}

.filter-option-label {
  display: block;
  padding: 15px 8px 0px 25px;
  color: #E4F1FE;
  font-size: 1.15em;
  line-height: 1.5;
}

.filter-option-container {
  display: inline-block;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label span.filter-option-switch {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: white;
  margin: 10px auto 0px auto;
  text-align: center;
  vertical-align: center;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label span.filter-option-switch {
  background-color: #18222C;
}

input[type="checkbox"]:not(:checked) + label span.filter-option-switch {
  background-color: #22313F;
}

.row.flat-switch {
  padding-top: -10%;
  padding-bottom: 10%;
}

.trip-content, .hotel-content {
  text-align: center;
}

#date-inputs {
  margin-top: 50px;
}

.search-bar {
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
}

#departure-input .search-bar{
  z-index: 20000;
}

#arrival-input .search-bar {
  z-index: 18000;
}

.items {
  position: absolute;
  top: 35px;
  background-color: #ECF0F1;
  border: 2px solid #1ABC9C;
  height: auto;
  width: 100%;
  display: block;
  padding: 2px 5px 0px 5px;
  border-radius: 4px;
}

#departure-input .items {
  z-index: 19000;
}

#arrival-input .items {
  z-index: 17000;
}

.item {
  border-top: 1px solid #95A5A6;
  height: 50px;
}

.autocomplete-title-container {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
}

.autocomplete-title {
  padding: 0px 5px 0px 5px;
  min-width: auto;
  font-size: 1.15em;
}

.autocomplete-subtitle-container {
  display: inline;
  height: 100%;
  width: 75%;
}

.autocomplete-subtitle {
  font-size: 0.70em;
  margin-top: 2px;
  margin-bottom: 2px;
  display: block;
}

.left-arrow {
  float: left;
}

.arrow {
  color: black;
}

.right-arrow {
  float: right;
}


