<div class='wrapper text-center'>
    <div class="btn-group btn-group main-toggle" data-toggle="buttons">
        <button type="button" class="btn btn-default time-dur-btn active" ng-click="show_flight_results=true">
            <input type="radio" name="options" id="option1"> <i class="fa fa-clock-o fa-lg"></i>
        </button>
        <button type="button" class="btn btn-default time-dur-btn" ng-click="show_flight_results=false">
            <input type="radio" name="options" id="option3"> <i class="fa fa-usd fa-lg"></i>
        </button>
    </div>
</div>

<div class="filter-list">
  <div class="row filter-list-inner">
    <div class="col-xs-7 col-md-6" id="filter-labels">
      <span class="filter-option-label">
        Departure
      </span>
      <span class="filter-option-label">
        Arrival
      </span>
      <span class="filter-option-label">
        AirBnB
      </span>
      <span class="filter-option-label">
        Direct Flight
      </span>
    </div>
    <div class="col-xs-5 col-md-6">
      <div class="btn-embossed" id="filter-switches">
        <div class="row">
          <div class="col-xs-6">
            <input type="checkbox" id="depart-am" ng-model="options.departam_status" ng-change="updateFlights()">
            <label class="square-toggle-button" for="depart-am">
              <span class="filter-option-switch btn-embossed">
                <span class="filter-option-switch-inner fa fa-sun-o"></span>
              </span>
            </label>
          </div>
          <div class="col-xs-6">
            <input type="checkbox" id="depart-pm" ng-model="options.departpm_status" ng-change="updateFlights()">
            <label class="square-toggle-button" for="depart-pm">
              <span class="filter-option-switch btn-embossed">
                <span class="filter-option-switch-inner fa fa-moon-o"></span>
              </span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <input type="checkbox" id="arrive-am" ng-model="options.arriveam_status" ng-change="updateFlights()">
            <label class="square-toggle-button" for="arrive-am">
              <span class="filter-option-switch btn-embossed">
                <span class="filter-option-switch-inner fa fa-sun-o"></span>
              </span>
            </label>
          </div>
          <div class="col-xs-6">
            <input type="checkbox" id="arrive-pm" ng-model="options.arrivepm_status" ng-change="updateFlights()">
            <label class="square-toggle-button" for="arrive-pm">
              <span class="filter-option-switch btn-embossed">
                <span class="filter-option-switch-inner fa fa-moon-o"></span>
              </span>
            </label>
          </div>
        </div>
        <div class="row flat-switch">
          <div class="col-xs-6 col-xs-offset-1">
            <input type="checkbox" class="flat-switch" id="airbnb" ng-model="airBnb_status" ng-change="airBnb()">
            <label for="airbnb">
              <span class="ui"></span>
            </label>
          </div>
        </div>
        <div class="row flat-switch">
          <div class="col-xs-6 col-xs-offset-1">
            <input type="checkbox" class="flat-switch" id="direct-flight" ng-model="options.direct_status" ng-change="updateFlights()">
            <label for="direct-flight">
              <span class="ui"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

